*.bsc
*.user
*.ilk
*.sdf
*.suo
*.pdb
*.lib
*.exp
*.log
*.aps
Resource/resource.h
Logger.dll
soui-sys-resource*.dll
sqlite3.dll
uiengine.dll
DbRepair.exe
H5Viewer.exe
ImageViewer.exe
main.exe
eIMMain.exe
dbrepair.sln
localstorage/
ipch/
stdafx.h.cpp
ext/soui/bin
lib/
obj/
build/Symbols
build/Log
build/Publish